@charset "UTF-8";

/* ------------ [TABLE] ------------ */
.search-wrap {
	width: 90%;
	margin: 0px auto 7px;
}
.search-category {
	float: left;
}
.search-keyword {
	float: right;
	margin-bottom: 5px;
	position: relative;
}
.search-keyword > select,
.search-keyword > input,
.search-keyword > button {
	float: left;
	margin: 0px 3px;
}
#keyword {
	padding: 10px 40px 7px 10px;
}
#btnSearch {
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url("../../img/icon/search.png") no-repeat;
	cursor: pointer;
	position: absolute;
	right: 4px;
	top: 12.5%;
}
table {
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
}
th, td {
	padding: 20px 5px;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
th {
	border-top: 2px solid black;
}
.list-title {
	width: 70%;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
}
.paging-wrap {
	margin-top: 5px;
}
.paging-wrap > .pagination,
.paging-wrap > p {
    clear: both;
    position: relative;
    font-size: 11px;
    text-align: center;
}
.pagination > li {
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    background: #0161b4;
}
.pagination > li > a {
    color: #fff;
}
.pagination .current{
    padding: 6px 9px 5px 9px;
    font-weight: bold;
    background: #0950E8;
}

/* ------------ [REGIST] ------------ */
.form-wrap {
	background: white;
	width: 50%;
	padding: 20px;
	margin: 0 auto;
}
.form-wrap > form > p {
	margin: 10px 0;
	padding: 10px 0;
}
.form-wrap > form > p > label {
	float: left;
    width: 90px;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-align: center;
    padding: 7px 10px 7px 4px;
}
.form-wrap > form > p > input[type='text'] {
	width: 60%;
}
textarea {
	width: 90%;
	height: 400px;
	padding: 10px;
	outline: none;
	overflow: auto;
	resize: none;
	border: none;
	border-bottom: 2px solid black;
	display: block;
	margin: 10px auto;
}
.thumb-wrap, .add-wrap {
	overflow: hidden;
}
.thumb-wrap > li, 
.add-wrap > li {
	min-height: 100px;
	padding: 5px;
	float: left;
	overflow: hidden;
	margin-right: 5px;
	text-align: center;
}
.thumb-img {
	height: 100px;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}
.thumb-img > img {
	height: 100px;
}
.thumb-img > .delX {
	width: 24px;
    height: 24px;
    position: absolute;
    right: 2px;
    top: 3px;
    background: url(../../img/icon/remove.png) no-repeat;
    cursor: pointer;
}
.modal-wrap {
	display: none;
	position: fixed;
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgba(0,0,0,0.4);
}
.modal-wrap > .modal-img {
	position: relative;
	margin: 150px auto;
}
.modal-wrap > .modal-img > .modalX {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    background: url(../../img/icon/remove.png) no-repeat;
    cursor: pointer;
}

/* ------------ [READ] ------------ */
.read-wrap {
	background: white;
	width: 75%;
	padding: 20px;
	margin: 0 auto;
}
.read-title {
	position: relative;
    padding: 35px 30px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #ccc;
}
.read-title > h1 {
    font-size: 35px;
    font-weight: normal;
}
.category {
	display: block;
	font-size: 22px;
	color: #0161b4;
}
.title-footer {
	margin-top: 45px;
}
dl{
	display: inline-block;
    margin-right: 30px;
    font-size: 17px;
}
dt{
    display: inline-block;
    padding-right: 8px;
    color: #333;
    font-weight: 600;
}
dd {
	display: inline-block;
    color: #555;
}
.read-content {
	padding: 45px 30px 50px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 1.8;
    word-break: break-all;
}
.read-content > h5 {
	letter-spacing: 0.05em;
	border-bottom: 1px dotted #ccc;
	padding: 10px 0;
	color: #0161b4;
}
.imgFiles-wrap {
	width: 100%;
	overflow: hidden;
	margin-top: 15px;
}
.imgFiles-wrap > li {
	float: left;
	margin: 5px 5px 5px 0;
}
.read-footer {
	width: 100%;
	position: relative;
	text-align: center;
	margin-top: 20px;
}
.footer-link {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 15px;
}
.footer-link > a {
	margin-right: 5px;
	padding: 11px;
	border-bottom: 2px solid black;
}
.btn-line {
	background-color: #fff;
    border: 1px solid #888;
    color: #888;
}
.btn {
	display: inline-block;
    position: relative;
    min-width: 100px;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    font-size: 18px;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    outline: none;
    z-index: 1;
    vertical-align: middle;
}

/* ------------ [REPLY] ------------ */
.reply-wrap {
	width: 100%;
}
.reply-input {
	overflow: hidden;
}
.reply-input > textarea {
	width: 90%;
	height: 45px;
	background: #D5D5D5;
	border: none;
	float: left;
}
.reply-input > a {
	float: left;
	height: 45px;
	margin-left: 11px;
	padding: 12px;
	line-height: 45px;
	background-color: #fff;
    border: 1px solid #888;
    color: #888;
    cursor: pointer;
}
.reply-list-wrap {
	width: 100%;
	background: pink;
}
.reply-list {
	width: 98%;
	margin: 15px auto;	
}
.reply-list > .reply-li {
	border: 2px solid black;
	padding: 20px 25px 15px;
}
.reply-li > div:first-child {
	overflow: hidden;
}
.replyer {
	font-size: 16px;
	font-weight: bold;
	color: #0161b4;
}
.reply-list > li dl {
	margin-left: 10px;
	font-style: normal;
	font-size: 12px;
}
.reply-content > pre {
	width: 98%;
	background: yellow;
	height: 45px;
    padding: 10px;
    margin: 9px 0;
    font-size: 14px;
    line-height: 25px;
}
.reply-content > .mod-txt {
	width: 98%;
	height: 45px;
    padding: 10px;
    margin: 9px 0;
    font-size: 14px;
    line-height: 25px;
    display: none;
}
.top-btn-wrap {
	float: right;
}
.modBtn {
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url("../../img/icon/write.png") no-repeat;
	transform: rotate(180deg);
	cursor: pointer;
}
.delBtn {
	width: 24px;
	height: 24px;
	margin-left: 9px;
	display: inline-block;
	background: url("../../img/icon/remove.png") no-repeat;
	cursor: pointer;
}
.reply-btn {
	text-align: right;
	display: none;
}
.reply-btn > a {
	height: 45px;
	margin-left: 11px;
	padding: 12px;
	line-height: 45px;
	background-color: #fff;
    border: 1px solid #888;
    color: #888;
    cursor: pointer;
}

/* 상단고정 게시물 */
.ntTop-tr {
	background: pink;
}
.ntTop-tr > td:first-child > span {
	width: 22px;
	height: 22px;
	display: inline-block;
	background: url("../../img/icon/notice.png") no-repeat;
	background-size: contain;
	cursor: pointer;
}



