@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}
html, body{
	width: 100%;
	height: 100%;
	overflow: auto;
	font-family: 'Arita4.0_L', sans-serif;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
select {
    padding: 7px 10px 8px 2px;
    background: white;
    border: none;
    border-bottom: 2px solid black;
	outline-color: grey;
}
option {
	padding: 7px 10px 7px 2px;
}
input {
	padding: 11px 10px 8px;
	background: #EAEAEA;
    border: none;
    outline-color: grey;
}
button {
	padding: 7px;
}
#container {
	width: 100%;
	height: 100%;
}
#header-wrap {
	width: 15%;
	background: cadetblue;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}
.header {
	width: 50%;
	padding: 10px;
	overflow: hidden;
	margin: 0 auto;
}
.logo {
	width: 140px;
	height: 140px;
	background: steelblue;
}
.mem-menu > ul > li {
	float: left;
}
.nav > ul > li {
	padding: 10px 0;
}

/*----------------------------------*/

#section {
	background: beige;
	width: 100%;
	height: 100%;
}
.inner-section {
	width: 100%;
	float: right;
}
.content-area {
	width: 73%;
	background: lightcoral;
	float: right;
	margin-right: 4.5%;
	padding: 40px;
}
.content-area > h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.content-area > .cont-center {
	width: 100%;
	background: orangered;
	margin: 0 auto;
}
.content-area > .cont-left {
	width: 55%;
	background: lavender;
	float: left;
}
.content-area > .cont-right {
	width: 40%;
	background: seagreen;
	float: right;
}

.main-banner {
	width: 700px;
	height: 700px;
	background: url("../../img/mark-basarab-1OtUkD_8svc-unsplash.jpg") no-repeat;
	background-size: cover;
}

/*----------------------------------*/

#side-bar {
	width: 4.5%;
	height: 100%;
	background: thistle;
	position: fixed;
	right: 0;
	top: 0;
	box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}
#side-bar > a {
	width: 60px;
	height: 60px;
	display: block;
	margin: 0 auto;
}
#side-bar > a > #tempIntraIco {
	width: 60px;
	height: 60px;
}
.error{
	font-size: 13px;
	color: red;
	display: none;
}
.section-title {
	width: 77.5%;
	height: 230px;
	background: lightgreen;
	float: right;
	margin-right: 4.5%;
}




