@charset "UTF-8";

/* PROGRAM LIST */
.content-area > h1 {
	text-align: center;
}
.pg-list {
	overflow: hidden;
}
.pg-list > li {
	float: left;
	width: 31%;
	text-align: center;
	margin: 30px 15px;
}
.pg-list > li > h2 {
    width: 50%;
    height: 60px;
    line-height: 60px;
    padding: 10px 0;
    margin: 10px auto 20px;
    border-bottom: 2px solid black;
    cursor: pointer;
}
.pg-img {
    width: 310px;
    height: 400px;
    margin: 0 auto;
    cursor: pointer;
}
.pg-img > img {
	width: 100%;
}
.pg-img:hover > img {
	transform: scale(1.1);
	transition: 0.2s all linear;
}

/* PROGRAM DETAIL */
.pg-detail-wrap {
	overflow: auto;
}
.pg-detail-wrap > h1 {
	text-align: center;
	font-size: 2em;
}
.pgDetail-img {
	width: 55%;
	float: left;
	margin: 30px;
}
.pgDetail-img > img {
	width: 100%;
}
.pgDetail-info {
	float: left;
	margin: 30px 0 30px 10px;
	width: 36%;
	height: 400px;
	padding: 15px;
}
.btn-area {
	text-align: center;	
}
.btnA {
    min-width: 100px;
    height: 50px;
    border: 1px solid #888;
    color: #888;
	display: inline-block;
    position: relative;
    line-height: 50px;
    padding: 0 35px;
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    outline: none;
    z-index: 1;
    vertical-align: middle;
}
.btnA:hover {
	font-weight: bold;
}
.btnRsv {
	background: #5271C4;
	border: 1px solid #5271C4;
	color: white; 
}
.pgDetail-box > h2 {
	text-align: center;
	margin: 30px 0;
}
.pgDetail-box > p {
	margin: 20px auto;
	width: 90%;
}
.pgDetail-box > p > label {
	display: block;
	font-weight: bold;
}

.pg-common {
	margin: 50px auto;
}
.pg-common > h2 {
	border-top: 1px dotted silver;
	text-align: center;
	padding-top: 30px;
	margin: 30px 0;
}
.pg-common > table {
	width: 95%;
	margin: 30px auto;
	border-collapse: collapse;
	border: 1px solid #5271C4;
}
.pg-common > table th {
	background: #5271C4;
	color: #eee;
	text-align: center;
	padding: 5px 0;
}
.pg-common > table td {
	text-align: center;
	padding: 15px 0;
}
.pg-common > table td[rowspan='3'] {
	background: rgba(82, 113, 196, 0.2);
	font-weight: bold;
}
.pg-common > ul {
    width: 95%;
    margin: 0 auto;
    font-size: 13px;
    line-height: 27px;
}

/* THEATER */
.th-info {
	width: 100%;
}
.th-info > h1,
.st-info > h1 {
	text-align: center;
	margin: 50px 0;
	font-size: 2em;
}
.th-info > iframe {
	width: 100%;
	height: 800px;
	margin-bottom: 80px;
}
.st-info {
	width: 100%;
}
.st-info > table {
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
}
.st-info > table td {
	text-align: center;
	font-weight: bold;
}
.st-notice {
	width: 70%;
	margin: 0 auto 100px;	
}








