@charset "UTF-8";

.content-area {
	overflow: hidden;
}
.rsv-left {
	width: 870px;
	float: left;
}

/* CHOICE SEAT */
.seat-div {
	width: 90%;
	margin: 20px auto;
	border: 2px solid black;
	padding: 25px;
}
.seat-div > h2 {
	width: 70%;
	text-align: center;
	font-weight: normal;
	letter-spacing: 0.05em;
	margin: 0 auto 15px;
	padding-bottom: 8px;
}
.seat-div > div {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}
.seat-div > div > dl {
	font-size: 13px;
	display: inline-block;
	margin: 0 27px;
}
.seat-div > div > dl > dt {
	display: inline-block;
} 
.seat-div > div > dl > dd {
    display: inline;
    vertical-align: super;
    margin-left: 5px;
}

.seat-img,
.seat-icons {
	margin: 0 auto;
}
.seat-row {
	width: 100%; 
	height: 50px;
	margin: 0 auto; 
	padding: 0; 
	clear: both;
}
.seat-row > li {
	float: left; 
	margin-top:20px; 
	margin-right: 2px;
}
.seatEx,
.seat {
    width: 22px;
    height: 32px;
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 28px;
    cursor: pointer;
}
.seatEx { cursor: default; }
.seat-empty {
	background: url("../../img/rsv/icon-seat1.png") no-repeat;	
	background-size: contain;
}
.exActive, .seat-active {
	background: url("../../img/rsv/icon-seat2.png") no-repeat;	
	background-size: contain;
}
.seat-none {
	background: url("../../img/rsv/icon-seat3.png") no-repeat;	
	background-size: contain;
	cursor: default;
}
.seat-disabled {
	background: url("../../img/rsv/icon-seat2.png") no-repeat;	
	background-size: contain;
	filter: grayscale(1);
	cursor: default;
}
.premiumSingle-empty {
	background: url("../../img/rsv/icon-seat4.png") no-repeat;	
	background-size: contain;
}
.premiumDouble-empty {
	background: url("../../img/rsv/icon-seat5.png") no-repeat;	
	background-size: contain;
}

.btn-area {
	clear: both;
	position: relative;
	margin-top: 20px;
}
.btn-area > a {
	display: inline-block;
    position: relative;
    min-width: 100px;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    outline: none;
    z-index: 1;
    vertical-align: middle;
   	background-color: #fff;
    border: 1px solid #888;
    color: #888;
}
#btnNext {
	position: absolute;
	right: 0;
	top: 0;
}


.rsv-right {
	float: right;
	width: 320px;
}
.rsv-right > dl {
	width: 90%;
	margin: 0 auto;
	border: 1px solid black;
	padding: 20px;
}
.rsv-right > dl > dt {
	height: 25px;
	border-bottom: 1px solid black;
	font-size: 17px;
	line-height: 25px;
	font-weight: bold;
	padding-top: 5px;
}
.rsv-right > dl > dd {
	font-size: 14px;
	text-align: right;
	padding: 7px 0;
}
.rsv-right > dl > dt > small {
	font-size: 13px;
}
#cSeat-cnt {
	font-size: 15px;
}
#seat-price {
	font-size: 16px;
	font-weight: bold;	
}


/* INPUT INFOMATION */
.pay-area {
	width: 100%;
	margin: 0 auto 20px;
}
table {
	width: 100%;
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	padding: 7px 3px 7px 5px;
}
.title-tr > td {
	font-size: 1.5em;
	padding: 20px 0px 15px 20px;
}
th {
	width: 120px;
}
.pNum, .cNum {
	width: 50px;
}

/* RESERVATION COMPLETE */
.rsv-cpl-wrap {
	width: 100%;
	overflow: hidden;
}
.rsv-cpl-top {
	text-align: center;
	padding: 60px 0;
	margin: 20px 0;
	border: 2px solid black;
}
.rsv-cpl-top > h1,
.rsv-cpl-top > h2 {
	margin: 10px 0;
	letter-spacing: 0.15em;
}
.rsv-cpl-bottom {
	overflow: hidden;
	margin: 70px 0;
}
.cpl-info-wrap {
	width: 100%;
	overflow: hidden;
}
.cpl-info {
	float: left;
	width: 330px;
	border: 2px solid black;
	padding: 20px;
	margin: 0 44px;
	font-size: 15px;
}
.cpl-info > h3 {
	border-bottom: 3px dotted black;
    padding: 20px 10px;
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 1.6em;
}
.cpl-info > ul > li {
	overflow: hidden;
	padding: 25px 0;
}
.cpl-info > ul > li > label {
	width: 27%;
	float: left;
	font-weight: bold;
	padding-left: 8px;
}
.cpl-info > ul > li > span {
	float: right;
	width: 65%;
	text-align: right;
	padding-right: 8px;
}
.comm-wrap {
	width: 100%;
	height: 100px;
	background: green;
}

