@charset "UTF-8";

.content-area {
	overflow: auto;
}
.rsv-left {
	width: 870px;
	float: left;
}

/* CHOICE PROGRAM */
.date-ul {
	overflow: hidden;
	position: relative;
}
.date-ul > li {
	float: left;
	width: 19%;
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 1.6em;
	font-weight: bold;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}
.date-ul > li.dOn {
	border-bottom: 2px solid black;
}
.date-ul > li:hover {
	border-bottom: 2px solid black;
 	transition: 0.3s all ease-out;
}
#datePrev {
	width: 2.5%;
	height: 70px;
	line-height: 70px;
	background: url("../../img/icon/prev.png") no-repeat;
	background-size: contain;
	background-position: center;
	display: inline-block;
	border-bottom: none;
}
#dateNext {
	width: 2.5%;
	height: 70px;
	line-height: 70px;
	background: url("../../img/icon/next.png") no-repeat;
	background-size: contain;
	background-position: center;
	display: inline-block;
	border-bottom: none;
}
.date-box {
	margin: 5px;
	margin-top : 5px;
	text-align: center;
	font-size: 1.8em;
	letter-spacing: 0.05em;
	padding: 15px 0;
	font-weight: bold;
}
.cont-bottom > h2 {
	width: 100%;
	text-align: center;
	margin: 30px 0;
	background: rgba(229,229,229,0.6);
}
.main-list {
	width: 85%;
	margin: 0 auto 30px;
	overflow: hidden;
}
.list-box {
	padding: 30px 0;
	border-bottom: 2px dotted #6a85b6;	
	margin: 15px auto;
}
.list-info {
	overflow: hidden;
	margin-bottom: 15px;
}
.info-img {
	float: left;
	height: 150px;
}
.info-txt {
	float: left;
	margin-left: 15px;
}
.list-time {
	overflow: hidden;
}
.time-box {
	float: left;
	width: 150px;
	text-align: center;
	border: 4px solid #6a85b6;
	padding: 15px;
	border-radius: 13px;
	margin-right: 10px;
	cursor: pointer;
}
.time-box:hover {
	box-shadow: 0 0 5px #6a85b6;
}
.time-box > h3 {
	font-size: 1.8em;
}
.time-box > em {
	font-size: 14px;
	font-style: normal;
}
.time-box > b {
	display: block;
	font-size: 14px;
	border-bottom: 1px solid black;
	padding-bottom: 3px;
	margin-bottom: 3px;
}
.time-box > p {
	margin-top: 5px;
	font-size: 1.1em;
}




/* CHOICE SEAT */
.seat-div {
	width: 90%;
	margin: 20px auto;
	border: 2px solid black;
	padding: 25px;
}
.seat-div > h2 {
	width: 70%;
	text-align: center;
	font-weight: normal;
	letter-spacing: 0.05em;
	margin: 0 auto 15px;
	padding-bottom: 8px;
}
.seat-div > div {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}
.seat-div > div > dl {
	font-size: 13px;
	display: inline-block;
	margin: 0 27px;
}
.seat-div > div > dl > dt {
	display: inline-block;
} 
.seat-div > div > dl > dd {
    display: inline;
    vertical-align: super;
    margin-left: 5px;
}

.seat-img,
.seat-icons {
	margin: 0 auto;
}
.seat-row {
	width: 100%; 
	height: 50px;
	margin: 0 auto; 
	padding: 0; 
	clear: both;
}
.seat-row > li {
	float: left; 
	margin-top:20px; 
	margin-right: 2px;
}
.seatEx,
.seat {
    width: 22px;
    height: 32px;
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 28px;
    cursor: pointer;
}
.seatEx { cursor: default; }
.seat-empty {
	background: url("../../img/rsv/icon-seat1.png") no-repeat;	
	background-size: contain;
}
.exActive, .seat-active {
	background: url("../../img/rsv/icon-seat2.png") no-repeat;	
	background-size: contain;
}
.seat-none {
	background: url("../../img/rsv/icon-seat3.png") no-repeat;	
	background-size: contain;
	cursor: default;
}
.seat-disabled {
	background: url("../../img/rsv/icon-seat2.png") no-repeat;	
	background-size: contain;
	filter: grayscale(1);
	cursor: default;
}
.premiumSingle-empty {
	background: url("../../img/rsv/icon-seat4.png") no-repeat;	
	background-size: contain;
}
.premiumDouble-empty {
	background: url("../../img/rsv/icon-seat5.png") no-repeat;	
	background-size: contain;
}

.btn-area {
	clear: both;
	position: relative;
	margin-top: 50px;
}
.btn-area > a {
	display: inline-block;
    position: relative;
    min-width: 100px;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    outline: none;
    z-index: 1;
    vertical-align: middle;
   	background-color: #fff;
    border: 1px solid #888;
    color: #888;
}
.btn-area > a:hover{
	font-weight: bold;
}
#btnNext {
	position: absolute;
	right: 0;
	top: 0;
	background: #5271C4;
	border-color: #5271C4;
	color: white;
}


.rsv-right {
	float: right;
	margin-top: 50px;
	width: 320px;
}
.rsv-right > dl {
	width: 90%;
	margin: 0 auto;
	border: 4px solid #5271C4;
	padding: 20px;
}
.rsv-right > dl > dt {
	height: 25px;
	border-bottom: 1px solid black;
	font-size: 17px;
	line-height: 25px;
	font-weight: bold;
	padding-top: 8px;
}
.rsv-right > dl > dd {
	font-size: 14px;
	text-align: right;
	padding: 7px 0;
}
.rsv-right > dl > dt > small {
	font-size: 13px;
}
#cSeat-cnt {
	font-size: 15px;
}
#seat-price {
	font-size: 16px;
	font-weight: bold;	
}


/* INPUT INFOMATION */
.pay-area {
	width: 100%;
	margin: 0 auto 20px;
}
table {
	width: 100%;
	border-collapse: collapse;
}
th, td {
	padding: 20px 3px 13px 5px;
}
.title-tr > td {
	border-bottom: 2px solid black;
	font-size: 1.5em;
	padding: 30px 0px 15px 20px;
	font-weight: bold;
}
th {
	width: 120px;
}
.pNum, .cNum {
	width: 50px;
}
td[colspan='4'] > ul {
    list-style: square;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    font-size: 14px;
    line-height: 30px;	
}
td[colspan='4'] > div {
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    font-size: 14px;
    line-height: 30px;	
    background: rgba(255, 255, 255, 0.6);
}

/* RESERVATION COMPLETE */
.rsv-cpl-wrap {
	width: 100%;
	overflow: hidden;
}
.rsv-cpl-top {
	text-align: center;
	padding: 60px 0;
	margin: 20px 0;
	border: 2px solid black;
}
.rsv-cpl-top > h1,
.rsv-cpl-top > h2 {
	margin: 10px 0;
	letter-spacing: 0.15em;
}
.rsv-cpl-bottom {
	overflow: hidden;
	margin: 70px 0;
}
.cpl-info-wrap {
	width: 100%;
	overflow: hidden;
}
.cpl-info {
	float: left;
	width: 330px;
	border: 2px solid black;
	padding: 20px;
	margin: 0 44px;
	font-size: 15px;
}
.cpl-info > h3 {
	border-bottom: 3px dotted black;
    padding: 20px 10px;
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 1.6em;
}
.cpl-info > ul > li {
	overflow: hidden;
	padding: 25px 0;
}
.cpl-info > ul > li > label {
	width: 27%;
	float: left;
	font-weight: bold;
	padding-left: 8px;
}
.cpl-info > ul > li > span {
	float: right;
	width: 65%;
	text-align: right;
	padding-right: 8px;
}
.comm-wrap {
	width: 100%;
	height: 260px;
	overflow: hidden;
   background: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
}
.comm-wrap > div {
	width: 80%;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.comm-wrap > div > h1 {
	font-size: 6em;
	color: #eee;
	font-weight: bold;
	letter-spacing: 0.15em;
}
.comm-wrap > div > h2 {
	color: #eee;
	font-weight: bold;
	letter-spacing: 0.15em;
}
.comm-wrap > div > small {
	color: #ffbaec;
	letter-spacing: 0.15em;
}














