<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MemberMapper">

	<resultMap type="MemberVO" id="memberResult">
		<id property="mNo" column="i_member"/>
		<result property="mId" column="m_id"/>
		<result property="mPw" column="m_pw"/>
		<result property="mNm" column="m_nm"/>
		<result property="mBirth" column="m_birth"/>
		<result property="mTel" column="m_tel"/>
		<result property="mMail" column="m_mail"/>
		<result property="mRegdate" column="m_regdate"/>
		<result property="mQuitdate" column="m_quitdate"/>
	</resultMap>


	<insert id="insertMem">
		insert into t_member values(0, #{mId}, #{mPw}, #{mNm}, #{mBirth}, #{mTel}, #{mMail}, now(), null);
	</insert>
	
	<update id="updateMem">
		update t_member set m_pw = #{mPw}, m_tel = #{mTel}, m_mail = #{mMail} where i_member = #{mNo};
	</update>
	
	<update id="secessMem">
		update t_member set m_quitdate = now() where i_member = #{mNo};
	</update>
	
	<select id="selectMemList" resultMap="memberResult">
		select * from t_member;
	</select>
	
	<select id="selectMem" resultMap="memberResult">
		select * from t_member where i_member = #{mNo} order by i_member desc;
	</select>

	<select id="selectMemById" resultMap="memberResult">
		select * from t_member where m_id = #{mId};
	</select>
	
	<select id="getTotalMemCnt" resultType="int">
		select count(*) from t_member;
	</select>

	<!--   [ NON-MEMBER PART ]   -->

	<resultMap type="NonMemberVO" id="nonMemResult">
		<id property="nmNo" column="i_nonMember" />
		<result property="nmTel" column="nm_tel" />
		<result property="nmPw" column="nm_pw" />
	</resultMap>

	<insert id="insertNonMem">
		insert into t_non_member values(0, #{nmTel}, #{nmPw});
	</insert>
	
	<select id="selectNonMemList" resultMap="nonMemResult">
		select * from t_non_member order by i_nonMember desc;
	</select>
	
	<select id="selectNonMem" resultMap="nonMemResult">
		select * from t_non_member where i_nonMember = #{nmNo};
	</select>
	
	<select id="getTotalNonMemCnt" resultType="int">
		select count(*) from t_non_member;
	</select>

</mapper>