<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.OrgDetailMapper">

	<resultMap type="OrgDetailVO" id="odResult">
		<id property="odNo" column="i_orgDetail" />
		<result property="odOrgNo" column="i_org" />
		<result property="odStartTime" column="org_startTime" />
		<result property="odEndTime" column="org_endTime" />
		<result property="odThNo" column="i_theater" />
	</resultMap>

	<insert id="insertOd">
		insert into t_org_detail values(0, #{orgNo}, #{odStartTime}, #{odEndTime}, #{odThNo});
	</insert>

	<update id="updateOd">
		update t_org_detail 
			set od_startTime = #{odStartTime}, od_endTime = #{odEndTime}, i_theater = #{odThNo}, i_org = #{odOrgNo}
			where i_orgDetail = #{odNo};
	</update>

	<delete id="deleteOd">
		delete from t_org_detail where i_orgDetail = #{odNo};
	</delete>
	
	<select id="selectOdList">
	</select>
	
	<select id="selectOd"></select>
	
	<select id="getTotalOdCnt">
		select count(*) from t_org_detail;
	</select>


</mapper>