<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.OrgMapper">
	<!-- ORG -->
	<resultMap type="OrgVO" id="orgResult">
		<id property="orgNo" column="i_org" />
		<result property="orgDate" column="org_date" />
		<result property="orgStime" column="org_sTime" />
		<result property="orgEtime" column="org_eTime" />
		<result property="orgThNo" column="i_theater" />
		<result property="orgPgNo" column="i_program" />
	</resultMap>
	
	<!-- org-program-theater -->
	<resultMap type="OrgResultVO" id="oresResult"> 
		<association property="org" resultMap="orgResult"/>
		<association property="th" resultMap="mappers.TheaterMapper.thResult"/>
		<association property="pg" resultMap="mappers.ProgramMapper.programResult"/>
	</resultMap>


	<!-- INSERT -->
	<insert id="insertOrg">
		insert into t_org(org_date, org_sTime, org_eTime, i_theater, i_program) values(#{orgDate}, #{orgStime}, #{orgEtime}, #{orgThNo}, #{orgPgNo});
	</insert>


	<!-- UPDATE -->
	<update id="updateOrg">
		update t_org 
			set org_date = #{orgDate}, org_sTime = #{orgStime}, org_eTime = #{orgEtime}, i_theater = #{orgThNo}, i_program = #{orgPgNo} 
			where i_org = #{orgNo};
	</update>


	<!-- DELETE -->
	<delete id="deleteOrg">
		delete from t_org where i_org = #{orgNo};
	</delete>

	
	<!-- SELECT -->
	<select id="selectOrgList" resultMap="oresResult">
		select * from t_org org 
				join t_theater th using(i_theater)
				join t_program pg using(i_program)
			order by i_theater asc, org.org_date asc;
	</select>

	<select id="selectOrgListByDate" resultMap="oresResult">
		select * from t_org org 
				join t_theater th using(i_theater)
				join t_program pg using(i_program)
				where i_theater = #{orgThNo}
			<if test="sDate != ''">
				and org.org_date = #{sDate}
			</if>
			<if test="sDate == ''">
				and org.org_date = DATE(curdate())
			</if>
			order by org.org_sTime asc;
	</select>

	<select id="selectOrgDateList" resultMap="oresResult">
		select * from t_org org 
				join t_theater th using(i_theater)
				join t_program pg using(i_program)
			<if test="sDate != ''">
				where org.org_date = #{sDate}
			</if>
			<if test="sDate == ''">
				where org.org_date = DATE(curdate())
			</if>
			order by org.i_program asc, org.org_sTime asc;
	</select>
	
	<select id="selectOrg" resultMap="oresResult">
		select * from t_org org 
				join t_theater th using(i_theater)
				join t_program pg using(i_program)
			where i_org = #{orgNo};
	</select>
	
	<select id="getTotalOrgCnt" resultType="int">
		select count(*) from t_org;
	</select>
	
	<select id="getRepeatCntByProgram" resultType="int">
		select count(i_program) from t_org org 
			join t_program pg using(i_program)
			<if test="sDate != ''">
				where org.org_date = #{sDate}
			</if>
			<if test="sDate == ''">
				where org.org_date = DATE(curdate())
			</if>
		group by i_program order by org.i_program asc, org.org_sTime asc;
	</select>
	
	<select id="isRsved" resultType="int"><!-- 프로그램에 예약되었는지 -->
		select count(*) from t_rsv_info where i_org = #{orgNo};
	</select>

</mapper>