<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.OrgMapper">

	<resultMap type="OrgVO" id="orgResult">
		<id property="orgNo" column="i_org" />
		<result property="orgDate" column="org_date" />
		<collection property="pgList" javaType="list" resultMap="mappers.ProgramMapper.programResult" />
	</resultMap>


	<insert id="insertOrg">
		insert into t_org(org_date) values(#{orgDate});
	</insert>

	<update id="updateOrg">
		update t_org set org_date = #{orgDate}, i_program = #{pgNo} where i_org = #{orgNo};
	</update>

	<delete id="deleteOrg">
		delete from t_org where i_org = #{orgNo};
	</delete>
	
	<select id="selectOrgList" resultMap="orgResult">
		select * from t_org join t_program using(i_program);
	</select>
	
	<select id="selectOrg" resultMap="orgResult">
		select * from t_org join t_program using(i_program) where i_org = #{orgNo};
	</select>
	
	<select id="getTotalOrgCnt" resultType="int">
		select count(*) from t_org;
	</select>


</mapper>