<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ProgramMapper">

	<resultMap type="ProgramVO" id="programResult">
		<id property="pgNo" column="i_program"/>
		<result property="pgTitle" column="pg_title" />
		<result property="pgDetail" column="pg_detail" />
		<result property="pgPoster" column="pg_poster" />
		<result property="pgThumb" column="pg_thumb" />
		<result property="pgTime" column="pg_time" />
		<result property="pgIsRunning" column="pg_isRunning" />
	</resultMap>
	
	<select id="selectPgList" resultMap="programResult">
		select * from t_program order by pg_isRunning asc, i_program desc
	</select>
	
	<select id="selectPg" resultMap="programResult">
		select * from t_program where i_program = #{pgNo} 
	</select>

	<select id="getTotalPgCnt" resultType="int">
		select count(*) from t_program
	</select>
	
	<insert id="insertPg">
		insert into t_program values(0, #{pgTitle}, #{pgDetail}, #{pgPoster}, #{pgThumb}, #{pgTime}, #{pgIsRunning})
	</insert>
	
	<update id="updatePg">
		update t_program 
			set pg_title = #{pgTitle}, pg_detail = #{pgDetail}, pg_time = #{pgTime}, pg_isRunning = #{pgIsRunning}
			<if test="pgPoster != null and pgThumb != null">
				, pg_poster = #{pgPoster}, pg_thumb = #{pgThumb} 
			</if>
			where i_program = #{pgNo}
	</update>
	
<!-- 	<delete id="deletePg">
		delete from t_program where i_program = #{pgNo}
	</delete> -->
	
	<update id="deletePg">
		update t_program set pg_isRunning = 1 where i_program = #{pgNo}
	</update>

	<select id="mainNew3List" resultMap="programResult">
		select * from t_program where pg_isRunning = 0 order by i_program desc limit 0, 3
	</select>

	<select id="mainBest3List" resultMap="programResult">
		select * from t_program where pg_isRunning = 0 order by pg_poster asc limit 0, 3
	</select>
	
	<select id="isPgRsved" resultType="int">
		select count(*) from t_org where i_program = #{pgNo};
	</select>
	
</mapper>