<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.RsvMapper">

	<!-- RSV PART -->
	<resultMap type="RsvVO" id="rsvResult">
		<id property="rsvNo" column="i_rsv" />
		<result property="rsvDate" column="rsv_date" />
		<result property="rsvCdate" column="rsv_cDate" />
		<result property="rsvMemNo" column="i_member" />
		<association property="rsvPay" resultMap="payResult"/>
		<collection property="rsvInfoMap" javaType="map" ofType="OrgStInfoVO">
			<association property="osOres" resultMap="mappers.OrgMapper.oresResult"/>
			<association property="osSt" resultMap="mappers.SeatMapper.seatResult"/>
		</collection>
	</resultMap>

	<insert id="insertRsv" useGeneratedKeys="true" keyColumn="i_rsv" keyProperty="rsvNo">
		insert into t_rsv values(0, now(), null, #{rsvMemNo});
	</insert>
	
	<update id="cancelRsv">
		update t_rsv set rsv_cDate = now() where i_rsv = #{rsvNo};
	</update>
	
	<!-- RSVINFO PART -->
	<resultMap type="RsvResultVO" id="rResResult">
		<id property="rrRsvNo" column="i_rsv" />
		<result property="rrRsvDate" column="rsv_date" />
		<result property="rrRsvCdate" column="rsv_cDate" />
		<association property="rrMem" resultMap="mappers.MemberMapper.memberResult"/>
		<association property="rrPay" resultMap="payResult"/>
		<association property="org" resultMap="mappers.OrgMapper.orgResult"/>
		<association property="th" resultMap="mappers.TheaterMapper.thResult"/>
		<association property="pg" resultMap="mappers.ProgramMapper.programResult"/>
		<collection property="rrSeatList" ofType="SeatVO" javaType="list" resultMap="mappers.SeatMapper.seatResult"/>
	</resultMap>
	
	<insert id="insertRsvInfo">
		insert into t_rsv_info values(0, #{rsvNo}, #{orgNo}, #{stNo});
	</insert>
	
	<delete id="deleteRsvInfo">
		delete from t_rsv_info where i_rsv = #{rsvNo};
	</delete>
	
	<select id="selectRsv" resultMap="rResResult"> <!-- Search RSV -->
		select * from t_rsv_info ri 
				join t_rsv rsv using(i_rsv)
				join t_org org using(i_org) 
				join t_theater th using(i_theater) 
				join t_program pg using(i_program)
				join t_seat st using(i_seat)
				join t_pay pay using(i_rsv)
				join t_member mem on rsv.i_member = mem.i_member
			where i_rsv = #{rsvNo};
	</select>

	<select id="selectRsvListBymNo" resultMap="rResResult"> <!-- Member RSV List -->
		select * from t_rsv rsv 
				join t_rsv_info ri using(i_rsv)
				join t_org org using(i_org)
				join t_theater th using(i_theater)
				join t_program pg using(i_program)
				join t_pay py on rsv.i_rsv = py.i_rsv 
			where rsv.i_member = #{mNo}
			<if test="fDate == 1">
				and org.org_date >= DATE(curdate())
			</if>
		 	group by rsv.i_rsv order by rsv.i_rsv desc;
	</select>
	
	<select id="selectRsvedSeatList" resultType="java.lang.String">
		select st_nm from t_rsv_info join t_seat using(i_seat) where i_rsv = #{rsvNo};
	</select>

	<select id="selectRsvList" resultMap="rResResult"> <!-- All of RSV list -->
		select * from t_rsv_info ri 
				join t_rsv rsv using(i_rsv)
				join t_org org using(i_org) 
				join t_theater th using(i_theater) 
				join t_program pg using(i_program)
				join t_seat st using(i_seat)
				join t_pay pay using(i_rsv)
				join t_member mem on rsv.i_member = mem.i_member
			order by i_rsv desc;
	</select>
	

	<!-- PAY PART -->
	<resultMap type="PayVO" id="payResult">
		<id property="pyNo" column="i_pay" />
		<result property="pyPrice" column="py_price" />
		<result property="pyType" column="py_type" />
		<result property="pyNum" column="py_num" />
		<result property="pyValidMonth" column="py_validMonth" />
		<result property="pyValidYear" column="py_validYear" />
		<result property="pyDate" column="py_date" />
		<result property="pycDate" column="py_cDate" />
		<result property="pyState" column="py_state" />
		<result property="pyRsvNo" column="i_rsv" />
		<result property="pyMemNo" column="i_member" />
	</resultMap>
	
	<insert id="insertPay">
		insert into t_pay values(0, #{pyPrice}, #{pyType}, #{pyNum}, #{pyValidMonth}, #{pyValidYear}, now(), null, 0, #{pyRsvNo}, #{pyMemNo});
	</insert>
	
	<update id="cancelPay">
		update t_pay set py_cDate = now() where i_rsv = #{rsvNo};
	</update>
	
	<select id="selectPayList" resultMap="payResult">
		select * from t_pay order by i_pay desc;
	</select>
	
	<select id="selectPay" resultMap="payResult">
		select * from t_pay where i_pay = #{pyNo};
	</select>
	
	<select id="selectPayChart" resultType="int">
		select sum(py_price) from t_pay where year(py_date) = #{year} group by month(py_date);
	</select>
	
	
	<!-- RSV LOGS -->
	<resultMap type="RsvLogsVO" id="rLogResult">
		<id property="rlNo" column="i_rsvLog"/>
		<result property="rlMno" column="rl_mNo" />
		<result property="rlMid" column="rl_mId" />
		<result property="rlRsvNo" column="rl_rsvNo" />
		<result property="rlPgTitle" column="rl_pgTitle" />
		<result property="rlOrgDate" column="rl_orgDate" />
		<result property="rlThNm" column="rl_thNm" />
		<result property="rlRsvPrice" column="rl_rsvPrice" />
		<result property="rlRsvDate" column="rl_rsvDate" />
		<result property="rlRsvStime" column="rl_rsvStime" />
		<result property="rlRsvState" column="rl_rsvState" />
	</resultMap>
	
	<insert id="insertRsvLogs">
		insert into t_rsv_logs values(0, #{rlMno}, #{rlMid}, #{rlRsvNo}, #{rlPgTitle}, #{rlOrgDate}, #{rlThNm}, #{rlRsvPrice}, now(), #{rlRsvStime}, 0);
	</insert>
	
	<update id="cancelRsvLogs">
		update t_rsv_logs set rl_rsvState = 1 where rl_rsvNo = #{rsvNo};
	</update>
	
	<select id="selectRsvLogs" resultMap="rLogResult"> <!-- 멤버별 예약 리스트 뿌리기 -->
		select * from t_rsv_logs 
			<if test="mNo >= 0">
				where rl_mno = #{mNo}
			</if>
			order by rl_rsvState asc, rl_rsvDate desc, rl_rsvStime desc;
	</select>

	<select id="selectRsvLogsCnt" resultType="int"> <!-- 멤버별 예약 갯수 -->
		select count(*) from t_rsv_logs 
			<if test="mNo >= 0">
				where rl_mno = #{mNo}
			</if>
			order by rl_rsvState asc, rl_rsvDate desc, rl_rsvStime desc;
	</select>
	
	
	
	
	
	
	
	
	
	
	
</mapper>