<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.SeatMapper">
	
	<resultMap type="SeatVO" id="seatResult">
		<id property="stNo" column="i_seat" />
		<result property="stNm" column="st_nm" />
		<result property="stThNo" column="i_theater" />
		<result property="stSgNo" column="i_seatGrade" />
		<result property="stOrgNo" column="i_org" />
	</resultMap>
	
	<resultMap type="StInfoVO" id="siResult">
		<result property="siRsv" column="i_rsv" />
		<result property="siOrg" column="i_org" />
		<association property="siSt" resultMap="seatResult" />
	</resultMap>
	
	<insert id="insertSt">
		insert into t_seat values(0, #{stNm}, #{stThNo}, #{stSgNo});
	</insert>
	
	<update id="updateSt">
		update t_seat set st_nm = #{stNm}, i_seatGrade = #{stSgNo} where i_seat = #{stNo}; 
	</update>
	
	<delete id="deleteSt">
		delete from t_seat where i_theater = #{stThNo};
	</delete>
	
	<select id="selectList" resultMap="seatResult">
		select * from t_seat order by i_seat asc;
	</select>
	
	<select id="selectListByThNo" resultMap="seatResult">
		select * from t_seat where i_theater = #{thNo} order by i_seat asc;
	</select>
	
	<select id="selectListByThAndOrg" resultMap="siResult">
		select * from t_seat st left join t_rsv_info ri on st.i_seat = ri.i_seat and ri.i_org = #{orgNo}
			where st.i_theater = #{thNo} order by st.i_seat asc;
	</select>



</mapper>