@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:400|Noto+Sans+KR:100,300&display=swap');

*{
	padding: 0;
	margin: 0;
}
html, body{
	width: 100%;
	height: 100%;
	font-family: 'M PLUS 1p', 'Noto Sans KR', sans-serif;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
select {
    padding: 7px 10px 8px 2px;
    background: white;
    border: none;
    border-bottom: 2px solid black;
	outline-color: grey;
}
option {
	padding: 7px 10px 7px 2px;
}
input {
	padding: 11px 10px 8px;
	background: white;
    border: none;
    border-bottom: 2px white solid;
    outline-color: grey;
}
button {
	padding: 7px;
}
#container {
	width: 100%;
	height: 100%;
	background: #eee;
	overflow: auto;
}
.header {
	width: 100%;
	height: 10%;
	background: steelblue;
	text-align: center;
	margin-bottom: 20px;
}
.intra-nav {
	width: 12%;
	float: left;
	margin: 20px 0 0 30px;
	background: slateGray;
	z-index: 100;
}
.intra-nav > ul > li {
	padding: 15px 0;
	text-align: center;
}
.intra-nav > ul > li > a {
	font-weight: bold;
}
.intra-content {
	width: 80%;
	background: #eee;
	float: right;
	padding: 20px 20px 50px;
	overflow: auto;
}
.intra-content > h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding: 10px 0;
    background: slategray;
    color: #eee;
    letter-spacing: 0.5em;
}
.content-wrap {
	width: 100%;
	overflow: hidden;
}
.content-wrap > .cont-center {
	width: 100%;
	margin: 0 auto;
}
.content-wrap > .cont-left {
	width: 55%;
	float: left;
}
.content-wrap > .cont-right {
	width: 40%;
	float: right;
}

