@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:400|Noto+Sans+KR:100,300&display=swap');

*{
	padding: 0;
	margin: 0;
}
html, body{
	width: 100%;
	height: 100%;
	font-family: 'M PLUS 1p', 'Noto Sans KR', sans-serif;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
select {
    padding: 7px 10px 8px 2px;
    background: white;
    border: none;
    border-bottom: 2px solid black;
	outline-color: grey;
}
option {
	padding: 7px 10px 7px 2px;
}
input {
	padding: 11px 10px 8px;
	background: white;
    border: none;
    border-bottom: 2px white solid;
    outline-color: grey;
}
button {
	padding: 7px;
}
#container {
	width: 100%;
	height: 100%;
	background: #eee;
	overflow: auto;
	position: relative;
}
.header {
	width: 100%;
	height: 100px;
	text-align: center;
	margin-bottom: 20px;
	background: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
	position: relative;
}
.header > h1 {
	letter-spacing: 0.45em;
	color: #eee;
	line-height: 100px;
}
.header > span {
	background: url("../../img/icon/space.png") no-repeat;
    display: inline-block;
    background-size: contain;
    cursor: pointer;
    width: 55px;
    height: 55px;
    position: absolute;
    right: 20px;
    top: 20px;
    filter: invert(1);
}
.intra-nav {
	width: 12%;
	height: 100%;
	position: fixed;
	left: 40px;
	top: 0;
	z-index: 100;
	background: #5271C4;
	box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}
.intra-nav > ul {
	margin-top: 150px;
}
.intra-nav > ul > li:not(.liSec) {
	padding: 18px 0;
	text-align: center;
}
.intra-nav > ul > li:not(.liSec) > a {
	font-weight: 600;
    display: block;
    color: #eee;
    letter-spacing: 0.1em;
}
.liSec {
	padding: 6px 0;
	background: #eee;
}
.liSec {
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	letter-spacing: 0.15em;
}
.intra-nav > ul > li:not(.liSec):hover {
	background: rgba(238,238,238,0.6);	
}
.intra-nav > ul > li:not(.liSec):hover > a {
	color: #5271C4;
}
.liOn {
	background: rgba(238,238,238,0.8);	
}
.liOn > a {
	color: #444 !important;
}
.intra-content {
	width: 80%;
	height: 130%;
	background: #eee;
	float: right;
	padding: 20px 20px 50px;
	overflow: auto;
}
.intra-content > h2 {
    width: 60%;
    text-align: center;
    margin: 0 auto 40px;
    padding: 10px 0;
	border-bottom: 4px dashed #5271C4;
    color: #5271C4;
    letter-spacing: 0.5em;
    font-weight: bold;
    font-size: 1.7em;
}
.content-wrap {
	width: 100%;
	overflow: hidden;
}
.content-wrap > .cont-center {
	width: 100%;
	margin: 0 auto;
}
.content-wrap > .cont-left {
	width: 55%;
	float: left;
}
.content-wrap > .cont-right {
	width: 40%;
	float: right;
}

