@charset "UTF-8";

/* create theater */
.crt-th-wrap {
	width: 350px;
	margin: 0 auto;
	overflow: hidden;
	list-style: square;
	background: #ccc;
	padding: 10px;
}
.crt-th-wrap > li {
	line-height: 40px;
}
.crt-th-wrap > li > label,
.crt-seat-pre > label {
	width: 90px;
	float: left;	
	font-weight: bold;
}
.crt-th-wrap > li > span,
.crt-seat-pre > span {
	padding: 0 10px;	
}
.ipNum {
	width: 50px;
}

/* created theater */
.crted-th-wrap {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding: 8px 0;
	border: 1px dotted grey;
	text-align: center;
	display: none; 
}
.crted-th-wrap > p {
	display: inline-block;
	overflow: hidden;
	width: 250px;
	font-size: 14px;
}
.crted-th-wrap > p > label {
	font-weight: bold;
	margin-right: 6px;
}
.crted-th-wrap > p > span > em {
	font-style: normal;
	font-size: 15px;
}

/* create seat pre */
.crt-seat-pre {
	width: 350px;
	margin: 30px auto 20px;
	padding: 30px;
	background: #5271C4;
	display: none;
	color: white;
}
.crt-seat-pre > h2 {
	text-align: center;
	padding: 10px 0;
}

/* create seat */
.crt-seat-wrap {
	width: 90%;
	margin: 0 auto;
	display: none;
	overflow: hidden;
}
.seat-div {
	width: 70%;
	margin: 20px auto;
 	border: 2px;
    border-style: solid;
    border-image-slice: 10 !important;
    border-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
	padding: 25px;
}
.seat-div > h2 {
	width: 70%;
	text-align: center;
	letter-spacing: 0.05em;
	margin: 0 auto 15px;
	padding-bottom: 8px;
	color: #5271C4;
}
.seat-div > div {
	overflow: hidden;
	width: 624px;
	margin: 0 auto;
}
dl {
	font-size: 13px;
	display: inline-block;
	margin: 0 27px;
}
dt {
	float: left; 
	display: inline;
}
dd {
	margin-left: 6px;
	display: inline;
}

/* seat-save */
.seat-save-wrap {
	width: 70%;
	margin: 10px auto 0;
	padding: 8px 25px;	
	text-align: center;
	background: #5271C4;
	position: relative;
}
.seat-save-wrap > span {
	font-size: 21px;
    font-weight: bold;
    letter-spacing: 0.25em;
    color: #eee;
}
.ss-btn-wrap {
	position: absolute;
	top: 6px;
	right: 6px;
}

/* show-seat */
#show-seat-wrap {
	width: 70%;
	margin: 0 auto;
	padding: 25px;
	background: #eee;
	overflow: hidden;
}
#show-seat-wrap > div {
	width: 0;
	margin: 0 auto;
	overflow: hidden;
}
.seat-row {
	overflow: hidden;
}
.seat-row > li {
	float: left; 
	margin-top:20px; 
	margin-right: 2px;
}
.seatEx,
.seat {
    width: 22px;
    height: 32px;
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 28px;
    cursor: pointer;
}
.seat-empty {
	background: url("../../img/rsv/icon-seat1.png") no-repeat;	
	background-size: contain;
}
.exActive, .seat-active {
	background: url("../../img/rsv/icon-seat2.png") no-repeat;	
	background-size: contain;
}
.seat-none {
	background: url("../../img/rsv/icon-seat3.png") no-repeat;	
	background-size: contain;
}
.seat-disabled {
	background: url("../../img/rsv/icon-seat2.png") no-repeat;	
	background-size: contain;
	filter: grayscale(1);
}
.premiumSingle-empty {
	background: url("../../img/rsv/icon-seat4.png") no-repeat;	
	background-size: contain;
}
.premiumDouble-empty {
	background: url("../../img/rsv/icon-seat5.png") no-repeat;	
	background-size: contain;
}


